* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
h1 {
  margin: 2rem;
}

.container {
  margin: 9rem;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-row-gap: 2em;
  grid-column-gap: 1em;

  align-items: center;
  justify-content: center;
}

#gameBoard div {
  width: 115px;
  height: 115px;
  border-radius: 10px;
}

.card {
  background-color: rgb(18, 127, 170);
  background-position: 10px 0;
  background-size: 10px, 10px 0, 0 0, 0 0;
  transition: transform 0.5s;
}

.card.active {
  transform: translateX(0%) rotateY(180deg);
  transition: transform 0.5s;
}
.front {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  background: #97d3dc;
  transform: translateX(0%) rotateY(-180deg);
}
.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
