* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: aquamarine;
}

.container {
  margin: 9rem;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-row-gap: 2em;
  grid-column-gap: 1em;

  align-items: center;
  justify-content: center;
}

#gameBoard div {
  width: 115px;
  height: 115px;
  border-radius: 10px;
}

.card-back {
  background-color: aliceblue;
  background-position: 10px 0;
  background-size: 10px, 10px 0, 0 0, 0 0;
  transform: rotateY(180deg);
  transform: translateX(0%) rotateY(180deg);
  transition: transform 0.5s;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  background-color: rgb(76, 134, 185);
  backface-visibility: hidden;
}
.card.active {
  transform: rotateY(180deg);
}
.card .front {
  transform: rotateY(0deg);
  background: #ffffff;
}

.flipped {
  transform: rotateY(180deg);
  background: #ffffff;
}
